<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label :attending, "Will you be attending the wedding?" %><br />
    <%= f.radio_button :attending, true %>
    <%= f.label :attending, "Yes", :value => true %><br />
    <%= f.radio_button :attending, false %>
    <%= f.label :attending, "No", :value => false %><br /><br />
  </div>
  <div class="field">
    If yes, please enter the following.<br /><br />
    <%= f.label :address, "Mailing Address:" %><br />
    <%= f.text_area :address, :cols => 20, :rows => 3  %><br />
  </div>
  <div class="field">
    <%= f.label :nights, "Which nights will you be staying at the hostel?" %><br />
    <%= f.radio_button :nights, 0 %>
    <%= f.label :nights, "Friday, 6/28", :value => 0 %> <br />
    <%= f.radio_button :nights, 1 %> 
    <%= f.label :nights, "Saturday, 6/29", :value => 1 %> <br />
    <%= f.radio_button :nights, 2 %>
    <%= f.label :nights, "Both!", :value => 2 %><br />
    <%= f.radio_button :nights, 3 %>
    <%= f.label :nights, "Neither", :value => 3 %><br />
  </div>
  <div class="field">
    <%= f.label :comments, "Any questions or comments?" %><br />
    <%= f.text_area :comments, :cols => 20, :rows => 3%><br />
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
