<div class="gandalph">
  <p>Speak friend and enter<br/>
  <input type="text" name="moria" id="moria"/><br />
  <button type="button" id="mines" onclick="moria()">You shall not pass</button></p>
</div>

<div id="the_mine">
<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Attending</th>
    <th>Address</th>
    <th>Nights</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.attending %></td>
    <td><%= user.address %></td>
    <td><%= user.nights %></td>
    <td><%= user.comments %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</div>